/.variables.json
/system/shop_embeds_template.json
/WAYTOOMODULAR
/cache_onstart_test.py
/database_test.json
/database_tests.py
/json_template_tests.py
/logic_test.py
/replace_title_test.py
/sub_tp_test.json
/test.py
/test_embeds.json
/test_shop_info.json
/tp_test.json
/asd
/data/.variables.json
/data/baguette_config.json
/data/logs
/system/memory/district_role_mappings.json
/system/memory/counter
.venv